:root{
    --main-bg-color: #171717;
    --second-bg-color: #313131;
    --main-font-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-font-color);
}

body{
    width: 100%;
    background: var(--main-bg-color);
}
nav{
    padding: 20px;
    background: var(--second-bg-color);
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}
input{
    color: black;
}
nav svg{
    width: 30px;
    background: transparent;
    height: 100%;
    opacity: .3;
    transition: .25s;
}
svg > path{
    fill: white;
}
#container{
    width: 100%;
}
#container input[type='text']#search{
    padding: 5px;
    padding-left: 10px;
    width: 70%;
    font-size: 20px;
    border-radius: 40px;
    border: none;
    background: white;
    margin: auto;
    top: 30px;
    left: 0;
    right: 0;
    outline: none;
    position: fixed;
}


/* Search Screen */
#results{
    margin: auto;
}
.results-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 40px auto; 
    width: 80%;
    font-size: 20px;
}
.results-item img{
    width: 100px;
    clip-path: circle(50% at 50% 50%);
}
/* States */
.visible{
    opacity: 1;
}
/* Detail Page */
header{
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
}

header .info{
    height: 60%;
    position: absolute;
    z-index: 10;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .info .info-name{
    font-size: 8vw;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin:10px auto;
}
header .info .info-name h2{
    text-align: center;
    width: 100%;
}
header .info button{
    background: transparent;
    border: white solid 5px;
    font-size: 3vw;
    padding: 8px 30px;
    border-radius: 30px;
    text-transform: uppercase;
}

/* Related */
aside{
    width: 100%;
    font-size: 2em;
}
aside h3{
    font-size: 2.5em;
}
aside #related_artists{
    width: 100%;
    display: flex;
    overflow-x: auto;
}
aside #related_artists .artists{
    width: 150px;
    margin: 20px;
    height: 150px;
    flex-shrink: 0;
    position: relative;
}
aside #related_artists .artists h4{
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}
#related_artists .artists .image-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    clip-path: circle(50% at 50% 50%);
}
aside #related_artists .artists .image-container img{
    width: 100%;
    height: 100%;
}