:root{
    --main-bg-color: #171717;
    --second-bg-color: #313131;
    --main-font-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--main-bg-color);
}

nav{
    padding: 40px;
    background: var(--second-bg-color);
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

nav svg{
    width: 70px;
    background: transparent;
    height: 100%;
    opacity: .3;
    transition: .25s;
}
svg > path{
    fill: white;
}
#container{
    width: 100%;
}
#container input[type='text']{
    padding: 20px;
    padding-left: 40px;
    width: 70%;
    font-size: 30px;
    border-radius: 40px;
    border: none;
    background: white;
    margin: auto;
    display: block;
    margin-top: 50px;
    outline: none;
}
/* States */
.visible{
    opacity: 1;
}