:root{
    --main-bg-color: #171717;
    --second-bg-color: #313131;
    --main-font-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--main-bg-color);
}

nav{
    padding: 40px;
    background: var(--second-bg-color);
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

nav svg{
    width: 70px;
    background: transparent;
    height: 100%;
}
svg > path{
    fill: white;
    opacity: .5;
}